
.service-item-list
  border: 1px solid #d4d4d4
  +border-radius(15px 0 0 0)

  ul
    list-style-type: none
    margin: 0
    padding: 0

  li
    a
      display: block
      cursor: pointer
      border-bottom: 1px solid #d4d4d4
      border-right: 10px solid transparent
      padding: 15px
      text-decoration: none
      color: #000
      background-color: #f9f9f9

      th
        vertical-align: top
        font-weight: normal
        color: #949494
        text-align: right

    &.active a, a:hover
      border-right: 10px solid #ffe015
      background-color: #f4f4f4

    a:active
      border-right: 10px solid #ffe015
      background-color: #f1f1f1
      cursor: text

  li:first-child a
    +border-radius(15px 0 0 0)


.short-article-title
  font-size: 16px
  
.short-article-authors
  font-size: 12px
  text-align: right
  color: #323232
  margin-top: 8px