
.service-item-content
  border: 1px solid #d4d4d4
  border-left: none
  +border-radius(0 15px 0 0)

  table
    th
      vertical-align: top
      width: 150px
      text-align: right
      padding-right: 10px
    td
      padding-bottom: 10px

.item-wrapper
  margin: 30px
