body
  background-color: #efefef

.wrapper
  background-color: white
  width: 1200px
  margin: 0 auto
  padding: 50px

@import "start_page"
@import "overlay"
@import "collection_list"

/* Control buttons group */
.control-buttons
  text-align: center
  margin-top: 20px
  margin-bottom: 10px

.service-content
  display: grid
  grid-template-columns: 400px 1fr

